---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Privaatsuspoliitika ja müügitingimused | Hingamiskeskus">

<header class="header">
  <a href="/" class="header__logo">
    <img src="/images/logo.svg" alt="Hingamiskeskus" height="30" />
  </a>
  <nav class="header__nav">
    <a href="/">Avaleht</a>
    <a href="/teenused">Teenused</a>
    <a href="/broneeri-aeg">Broneeri aeg</a>
    <a href="/e-pood">E-pood</a>
    <a href="/hakka-liikmeks">Hakka liikmeks</a>
    <a href="/paketid">Paketid</a>
    <a href="/blogi">Blogi</a>
    <a href="/kkk">KKK</a>
  </nav>
  <div class="header__right">
    <a href="/e-pood" class="header__cart" aria-label="Ostukorv">
      <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
        <path d="M6 2L3 6v14a2 2 0 002 2h14a2 2 0 002-2V6l-3-4z"/><line x1="3" y1="6" x2="21" y2="6"/><path d="M16 10a4 4 0 01-8 0"/>
      </svg>
    </a>
    <button class="header__burger" aria-label="Menüü">
      <span></span><span></span><span></span>
    </button>
  </div>
</header>

<section class="legal">
  <h1>Privaatsuspoliitika</h1>

  <h2>Isikuandmete töötlemine</h2>
  <p>Isikuandmeid töötleb Hingamises OÜ Reg. nr. 16856275; Sõle 14, Tallinn Harjumaa 10611; Telefon (+372)56695898; Email: info@hingamiskeskus.ee. Hingamises OÜ edastab maksete teostamiseks vajalikud isikuandmed volitatud töötleja Maksekeskus AS-le.</p>

  <h2>Töödeldavad isikuandmed</h2>
  <p>Ees- ja perekonnanimi;<br/>
  Telefoni number;<br/>
  E-mail;<br/>
  Kaupade ja teenuste maksumus;<br/>
  Pangakonto number.</p>

  <h2>Isikuandmete töötlemise eesmärk</h2>
  <p>Isikuandmeid kasutatakse kliendi tellimuste haldamiseks ja kauba kohaletoimetamiseks.</p>
  <p>Ostuajaloo andmeid (ostu kuupäev, kaup, kogus, kliendi andmed) kasutatakse ostetud kaupade ja teenuste ülevaate koostamiseks ning kliendieelistuste analüüsimiseks.</p>
  <p>Pangakonto numbrit kasutatakse kliendile maksete tagastamiseks. Isikuandmeid nagu e-post, telefoni nr, kliendi nimi, töödeldakse selleks, et lahendada kaupade ja teenuste osutamise seonduvaid küsimusi (klienditugi). Veebipoe kasutaja IP-aadressi või teisi võrguidentifikaatoreid töödeldakse veebipoe kui infoühiskonna teenuse osutamiseks ning veebikasutusstatistika tegemiseks.</p>

  <h2>Õiguslik alus</h2>
  <p>Isikuandmete töötlemine toimub kliendiga sõlmitud lepingu täitmise eesmärgil. Isikuandmete töötlemine toimub juriidilise kohustuse täitmiseks (nt raamatupidamine ja tarbijavaidluste lahendamine).</p>

  <h2>Vastuvõtjad kellele info edastatakse</h2>
  <p>Isikuandmed edastatakse veebipoe klienditoele ostude ja ostuajaloo haldamiseks ja kliendiprobleemide lahendamiseks.</p>
  <p>Nimi, telefoninumber ja e-posti aadress edastatakse kliendi poolt valitud transporditeenuse pakkujale. Kui tegemist on kulleriga kohale toimetatava kaubaga, siis edastatakse lisaks kontaktandmetele ka kliendi aadress.</p>
  <p>Isikuandmed edastatakse teenusepakkuja poolt osutatavale raamatupidajale.</p>
  <p>Isikuandmeid võidakse edastada infotehnoloogia teenuste pakkujatele, kui see on vajalik veebipoe funktsionaalsuse või andmemajutuse tagamiseks.</p>

  <h2>Turvalisus ja andmete ligipääs</h2>
  <p>Isikuandmeid hoitakse zone.ee serverites, mis asuvad Euroopa Liidu liikmesriigi või Euroopa Liidu majanduspiirkonnaga liitunud riikide territooriumil. Andmeid võidakse edastada riikidesse, mille andmekaitse taset on Euroopa Komisjon hinnanud piisavaks ning USA ettevõtetele, kes on liitund andmekaitse kilbi (Privacy Shield) raamistikuga.</p>
  <p>Juurdepääs isikuandmetele on veebipoe töötajatel, kes saavad isikuandmetega tutvuda selleks, et lahendada veebipoe kasutamisega seonduvaid tehnilisi küsimusi ning osutada klienditoe teenust.</p>
  <p>Veebipood rakendab asjakohaseid füüsilisi, organisatsioonilisi ja infotehnilisi turvameetmeid, et kaitsta isikuandmeid juhusliku või ebaseadusliku hävitamise, kaotsimineku, muutmise või loata juurdepääsu ja avalikustamise eest.</p>
  <p>Isikuandmete edastamine veebipoe volitatud töötlejatele (nt transporditeenuse pakkuja ja andmemajutus) toimub veebipoe ja volitatud töötlejatega sõlmitud lepingute alusel. Volitatud töötlejaid on kohustatud tagama isikuandmete töötlemisel asjakohased kaitsemeetmed.</p>

  <h2>Isikuandmetega tutuvumine ja parandamine</h2>
  <p>Isikuandmetega saab tutvuda ja teha parandusi veebipoe kasutajaprofiilis. Kui ost on sooritatud ilma kasutajakontota, siis saab tutvuda isikuandmetega klinditoe vahendusel.</p>

  <h2>Nõusoleku tagasivõtmine</h2>
  <p>Kui isikundmete töötlemine toimub kliendi nõusoleku alusel, siis on kliendil õigus nõusolek tagasi võtta teavitades sellest kliendituge e-posti teel: <a href="mailto:info@hingamiskeskus.ee">info@hingamiskeskus.ee</a></p>

  <hr class="legal__divider" />

  <h1>Müügitingimused</h1>

  <p>Hingamiskeskuse veebipoe (edaspidi Veebipood) omanik on Hingamises OÜ (registrikood 16856275) asukohaga Sõle 14 c korpus, 10611, Tallinn. Müügilepingu kehtivus, kauba- ja hinnainfo Müügitingimused kehtivad Veebipoest kaupade ostmisel.</p>

  <p>Veebipoes müüdavate toodete hinnad on märgitud toodete juurde. Hinnale lisandub tasu kauba kättetoimetamise eest. Kauba kättetoimetamise tasu sõltub ostja asukohast ning kättetoimetamise viisist. Kättetoimetamise tasu kuvatakse ostjale tellimuse vormistamisel.</p>

  <p>Teave kauba kohta on esitatud Veebipoes vahetult kauba juures. Tellimuse vormistamine Kauba tellimiseks tuleb lisada soovitud tooted ostukorvi. Tellimuse vormistamiseks tuleb täita nõutud andmeväljad ning valida sobiv toodete kohaletoimetamise viis. Seejärel kuvatakse ekraanile tasu suurus, mille saab tasuda arve alusel eurodes.</p>

  <p>Leping jõustub alates tasumisele kuuluva summa laekumisest Veebipoe arvelduskontole - Hingamises OÜ EE147700771009732310 LHV. Kui tellitud kaupa ei ole võimalik tarnida seoses kauba lõppemisega või muul põhjusel, teavitatakse sellest ostjat esimesel võimalusel ning tagastatakse tasutud raha (sh kauba kättetoimetamise kulud) viivitamata, kuid mitte hiljem kui 14 päeva jooksul teate saatmisest.</p>

  <h2>Kohaletoimetamine</h2>
  <p>Kaupu saadetakse Eesti piires Itella, Omniva ja DPD pakiautomaatidesse. Kauba saatmiskulud kannab ostja ning vastav hinnainfo on kuvatud saatmisviisi juures.</p>
  <p>Eestisisesed saadetised jõuavad üldjuhul ostja määratud sihtpunkti 3-7 tööpäeva jooksul alates müügilepingu jõustumisest. Erandlikel juhtumitel on õigus kaup kohale toimetada kuni 45 kalendripäeva jooksul.</p>

  <h2>Taganemisõigus</h2>
  <p>Pärast tellimuse kättesaamist on ostjal õigus e-poes sõlmitud lepingust taganeda 14 päeva jooksul. Taganemisõigus ei kehti Võlaõigusseaduse §53 lg-s 4 loetletud juhtudel, näiteks kauba puhul, mis rikneb või vananeb kiiresti, mis ei ole kõlblik tagasisaatmiseks tervisekaitse või hügieenilistel põhjustel ning kui see on pärast kohaletoimetamist avatud. Taganemisõigus ei kohaldu, kui ostjaks on juriidiline isik.</p>
  <p>14-päevase tagastamisõiguse kasutamiseks ei tohi tellitud kaupa kasutada muul viisil kui on vajalik kauba olemuses, omadustes ja toimimises veendumiseks viisil nagu see on lubatud kauba testimiseks füüsilises poes. Kui kaupa on kasutatud muuks otstarbeks, kui on vajalik kauba olemuses, omadustes ja toimimises veendumiseks või sellel on kasutamise või kulumise märke, on Veebipoel õigus alandada tagastatavat tasu vastavalt kauba väärtuse vähenemisele.</p>
  <p>Kauba tagastamiseks tuleb esitada kauba ostmisest taganemise avaldus, ning saata see e-posti aadressile <a href="mailto:info@hingamiskeskus.ee">info@hingamiskeskus.ee</a> hiljemalt 14 päeva jooksul kauba kättesaamisest. Kauba tagastamise kulud kannab ostja, välja arvatud juhul, kui tagastamise põhjus seisneb asjaolus, et tagastamisele kuuluv asi ei vasta tellitule (nt vale või defektiga asi).</p>
  <p>Ostja peab kauba tagastama avalduse esitamisele järgneva 14 päeva jooksul või esitama tõendi, et ta on eelnimetatud perioodi jooksul kauba üle andnud kauba vedajale. Veebipood tagastab tagastatava kauba kättesaamisel ostjale viivitamata, kuid mitte hiljem kui 14 päeva möödumisel arvates taganemisavalduse saamisest, kõik ostjalt lepingu alusel saadud tasud.</p>
  <p>Veebipood võib keelduda tagasimaksete tegemisest seni, kuni on lepingu esemeks oleva asja tagasi saanud või kuni ostja on esitanud tõendid, et on asja tagasi saatnud, sõltuvalt sellest, kumb toimub varem. Kui ostja on sõnaselgelt valinud Veebipoe pakutud kõige odavamast tavapärasest asja kättetoimetamise viisist erineva kättetoimetamise viisi, ei pea Veebipood tarbijale tagastama kulu, mis ületab tavapärase kättetoimetamise viisiga seotud kulu.</p>
  <p>Veebipoel on õigus taganeda müügitehingust ning nõuda ostjalt tagasi kaup, kui kauba hind veebipoes on eksituse tõttu märgitud oluliselt alla kauba turuhinna.</p>

  <h2>Pretensiooni esitamise õigus</h2>
  <p>Veebipood vastutab ostjale müüdud kauba lepingutingimustele mittevastavuse või puuduse eest, mis oli olemas juba asja üleandmise hetkel ning mis ilmneb kuni kahe aasta jooksul, alates kauba üleandmisest ostjale. Sellest esimese kuue kuu jooksul asja üleandmisest ostjale eeldatakse, et puudus oli olemas juba asja üleandmise ajal. Vastava eelduse ümberlükkamine on Veebipoe kohustus.</p>
  <p>Ostjal on õigus puuduse ilmnemisel pöörduda hiljemalt kahe kuu jooksul veebipoe poole, saates e-kirja aadressile <a href="mailto:info@hingamiskeskus.ee">info@hingamiskeskus.ee</a>. Veebipood ei vastuta puuduste eest, mis on tekkinud pärast kauba üleandmist ostjale.</p>
  <p>Kui Veebipoest ostetud kaubal on puudused, mille eest Veebipood vastutab, parandab või asendab Veebipood puudusega kauba. Kui kaupa ei ole võimalik parandada ega asendada, tagastab Veebipood ostjale kõik müügilepinguga kaasnenud tasud. Veebipood vastab tarbija esitatud kaebusele kirjalikult või kirjalikku taasesitamist võimaldavas vormis 15 päeva jooksul.</p>

  <h2>Isikuandmete töötlemine</h2>
  <p>Veebipood kasutab ostja poolt sisestatud isikuandmeid (sh nimi, telefoninumber, aadress, e-maili aadress, pangarekvisiidid) tellimuse töötlemiseks ning kauba ostjale saatmiseks. Veebipood edastab isikuandmeid veoteenust pakkuvatele ettevõtetele selleks, et kohale toimetada kaupa.</p>
  <p>Hingamises OÜ võib saata klientidele informatsiooni oma teenuste, toodete, uudiskirjade ja pakkumiste kohta e-kirja või telefoni teel, kui klient on meile ise andnud oma kontaktandmed ja nõusoleku, kuid seda niikaua, kui klient pole palunud viimaste tegevuste lõpetamist või lahkunud uudiskirja saajate grupist, andes sellest Veebipoele teada ekirja teel <a href="mailto:info@hingamiskeskus.ee">info@hingamiskeskus.ee</a> või järgides pakkumises toodud juhiseid.</p>
  <p>Täpsemad isikuandmete töötlemise põhimõtted on toodud Privaatsuspoliitikas.</p>

  <h2>Vaidluste lahendamine</h2>
  <p>Kui ostjal on Veebipoe osas pretensioone, tuleb need saata e-kirja aadressile <a href="mailto:info@hingamiskeskus.ee">info@hingamiskeskus.ee</a>.</p>
  <p>Kui ostja ja Veebipood ei suuda lahenda vaidlust kokkuleppe teel, siis on ostjal võimalik pöörduda Tarbijakaitse ja Tehnilise Järelevalve Ameti tarbijavaidluste komisjoni poole. Tarbijavaidluste komisjoni pädevuses on lahendada ostja ja Veebipoe vahel sõlmitud lepingust tulenevaid vaidlusi. Ostja kaebuse läbivaatamine komisjonis on tasuta.</p>
  <p>Ostja võib pöörduda piiriüleste vaidluste lahendamiseks Euroopa Liidu tarbijavaidlusi lahendava platvormi poole.</p>
</section>

<footer class="footer">
  <div class="location">
    <h3 class="location__title">Aadress</h3>
    <p class="location__address">Söle 14c, Tallinn</p>
    <img src="/images/hoone.jpg" alt="Hingamiskeskus Söle 14c" class="location__photo" loading="lazy" />
  </div>
  <div class="footer__main">
    <img src="/images/logo-valge.png" alt="Hingamiskeskus" class="footer__logo" />
    <div class="footer__contact">
      <h3>Kontakt</h3>
      <p>E-post: Info@hingamiskeskus.ee</p>
      <p>Telefoninumber:</p>
      <p>+372 56695898</p>
      <p>+372 56497689</p>
      <p>(klienditugi 10.00-17.00)</p>
      <p>Hingamises OÜ</p>
      <p>EE147700771009732310</p>
    </div>
    <div class="footer__hours">
      <h3>Lahtiolekuajad</h3>
      <p>E-R 8.30 - 20.00</p>
      <p>L-P 11.00 - 18.00</p>
    </div>
    <div class="footer__social">
      <a href="https://www.facebook.com/Hingamiskeskus" aria-label="Facebook" target="_blank" rel="noopener">
        <svg width="28" height="28" viewBox="0 0 24 24" fill="currentColor"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg>
      </a>
      <a href="https://www.instagram.com/hingamiskeskus/" aria-label="Instagram" target="_blank" rel="noopener">
        <svg width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"><rect x="2" y="2" width="20" height="20" rx="5"/><circle cx="12" cy="12" r="5"/><circle cx="17.5" cy="6.5" r="1.5" fill="currentColor" stroke="none"/></svg>
      </a>
    </div>
    <div class="footer__legal">
      <a href="/privaatsuspoliitika">Privaatsuspoliitika</a> | <a href="/muugitingimused">Müügitingimused</a>
    </div>
  </div>
</footer>

</Layout>

<style>
  .header {
    display: flex; align-items: center; justify-content: space-between;
    padding: 10px 16px; background: #fff; position: sticky; top: 0; z-index: 100;
    border-bottom: 1px solid rgba(0,0,0,0.05);
  }
  .header__logo img { height: 28px; width: auto; }
  .header__nav {
    display: none;
    gap: 24px;
  }
  .header__nav a {
    font-size: 14px;
    color: #1d1e20;
    text-decoration: none;
    font-weight: 500;
  }
  .header__right { display: flex; align-items: center; gap: 16px; }
  .header__cart { color: #1d1e20; }
  .header__burger { display: flex; flex-direction: column; gap: 5px; padding: 4px; background: none; border: none; cursor: pointer; }
  .header__burger span { display: block; width: 22px; height: 2px; background: #1d1e20; }

  @media (min-width: 768px) {
    .header__nav { display: flex; }
    .header__burger { display: none; }
  }

  .legal {
    padding: 40px 24px;
    max-width: 800px;
    margin: 0 auto;
  }

  .legal h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
    color: #1d1e20;
    text-align: left;
  }

  .legal h2 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 28px;
    margin-bottom: 12px;
    color: #1d1e20;
    text-align: left;
  }

  .legal p {
    font-size: 15px;
    line-height: 1.7;
    color: #333;
    margin-bottom: 12px;
  }

  .legal ul {
    padding-left: 20px;
    margin-bottom: 16px;
  }

  .legal li {
    font-size: 15px;
    line-height: 1.7;
    color: #333;
    margin-bottom: 6px;
  }

  .legal a {
    color: #1f6d85;
  }

  .legal__divider {
    border: none;
    border-top: 2px solid #eee;
    margin: 48px 0;
  }

  .location {
    background: #1f6d85;
    padding: 20px 24px 24px;
    color: #fff;
    text-align: center;
  }
  .location__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 4px;
  }
  .location__address {
    font-size: 14px;
  }
  .location__photo {
    width: 80%;
    max-width: 320px;
    margin: 12px auto 0;
    display: block;
    border-radius: 10px;
  }
  .footer__main {
    background: #1f6d85;
    padding: 24px;
    color: #fff;
  }
  .footer__logo {
    height: 30px;
    width: auto;
    margin: 0 auto 20px;
    display: block;
  }
  .footer__contact h3,
  .footer__hours h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  .footer__contact p,
  .footer__hours p {
    font-size: 13px;
    line-height: 1.8;
  }
  .footer__hours {
    margin-top: 16px;
  }
  .footer__social {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    color: #fff;
  }
  .footer__legal {
    font-size: 11px;
    margin-top: 16px;
    opacity: 0.7;
    border-top: 1px solid rgba(255,255,255,0.2);
    padding-top: 12px;
  }
  .footer__legal a { color: #fff; text-decoration: none; }
  .footer__legal a:hover { text-decoration: underline; }
</style>
